@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: transparent;
}

body {
  background: transparent;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

#app {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
